<header>
  <div class="container">
    <img class="logo" src="/images/logo.png">
    <div class="logo-text">
      <h1>MIT<b>CDI</b></h1>
      <h2>中国发展行动力</h2>
    </div>

    <ul class="nav">
      <li><a href="/">主页</a></li>
      <li><a href="/about.html">关于我们</a></li>
      <li><a href="/slp.html">SLP 夏令营</a></li>
      <li><a href="/apply.html">报名申请</a></li>
      <!-- <li><a href="/contact">联系我们</a></li> -->
    </ul>

    <!-- <h1>MIT China Development Initiative</h1> -->
  </div>
</header>
